@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bg-banner{
  background-image: url(../assets/main-banner3.webp);
}
.bg-bg-banner::before {
  content: '';
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.421); /*Valor de la opacidad (0.7 en este caso) */
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

/*Estilos del menu-btn con animacion*/

.menu-toggle {
  scale: 0.80;
  position: relative;
  width: 40px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.menu-toggle input {
  display: none;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #439D99;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-toggle span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.menu-toggle span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.menu-toggle span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.menu-toggle input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.menu-toggle input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.menu-toggle input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/*Cards Game*/
.card {

  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
  
}

#c1 {
  background-color: transparent;
}

#c2 {
  background-color: transparent;
}

#c3 {
  background-color: transparent;
}

#c4 {
  background-color: transparent;
}

.main:hover #c1 {
  transform: translateX(-100px) rotate(-40deg);
}

.main #c2 {
  transform: translateX(-50px) rotate(-30deg);
}

.main #c3 {
  transform: translateX(0) rotate(-20deg);
}

.main #c4 {
  transform: translateX(50px) rotate(-10deg);
}

#c1:hover {
  transform: translateX(-180px) rotate(0deg) !important;
}

#c2:hover {
  transform: translateX(-120px) rotate(0deg) !important;
}

#c3:hover {
  transform: translateX(-80px) rotate(0deg) !important;
}

#c4:hover {
  transform: translateX(80px) rotate(0deg) !important;
}

.main {
  display: grid;
  height: 50vmax;
  place-items: center;
}

/*Card Premium */
.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.card_box {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box:hover {
  transform: rotate(3deg);
 scale: 1.1;
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Jay Joy';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #439d99dc 0%, #163332  51%, #439d99d5  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0,0,0,0.23);
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #163332;
  background-image: linear-gradient(45deg, #439d99dc 0%, #163332  51%, #439d99d5  100%);
}


.btn-banner {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#163332,#439d99d5);
  border: 0 solid;
  overflow: hidden;
}

.btn-banner:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}